.container {
    text-align: left;
    border: 1px solid gray;
    width: 65%;
    margin: 0 auto;
    border-radius: 5px;
}

.container h2{
    font-size: 22px;
    background-color: rgb(210, 210, 210);
    padding: 15px;
    border-bottom: 1px solid gray;
}

.dashboard-msg {
    padding: 15px;
}