.form-container {
    width: 65%;
    height: 400px;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 5px;
}

.form-container h2{
    background-color: rgb(210, 210, 210);
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 0.5em;
}

.form-group {
    display: flex;
    margin: 20px 10px;
    padding: 3px;
    justify-content: center;
    height: 30px;
}

.form-group label{
    width: 120px;
    padding-top: 4px;
    text-align: right;
}


.form-group input{
    margin-left: 15px;
    width: 300px;
    height: 28px;
}

.remember-me {
    margin-top: 1em;
}

.remember-me input{
    width: 20px;
    height: 20px;
}

.remember-me label{
    margin-left: 0;
    height: 25px;
}

.login-forgot button{
    background-color: #54B4D3;
    color: white;
    width: 80px;
    border-radius: 5px;
    padding: 2px;
    margin-right: 20px;
    border: 0;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .form-group label[for=email]{
        padding-top: 0;
    }

    .form-group{
        margin: 10px;
    }

    .form-group label{
        padding-top: 0;
        font-size: 0.85rem;
    }

    .form-group input{
        height: 1.25rem;
        width: 10em;
    }
}