* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 20px gray;
}

.logo {
    padding: 1em;
}

.link {
    display: flex;
    list-style: none;
    margin: 0 1em;      
}

.link li {
    padding: 1em;
}

.link li:hover {
    background: rgb(180, 180, 180);
}

.link li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.page {
    margin-right: auto;
}

.mobile-button{
    display: none;
    background-color: inherit;
    border: 0;
    min-height: 44px;
    min-width: 44px;
}

main {
    margin-top: 100px;
    min-height: 600px;
    padding-left: 20px;
}


@media screen and (max-width: 600px) {
    .mobile-button {
        display: block;
        cursor: pointer;
    }

    .link {
        flex-direction: column;
        position: absolute;
        background-color: white;
        width: 100%;
        margin: 0;
        transform: translateY(-300px);
        opacity: 0;
    }
    
    .page {
        top: 3.75em;
    }
    
    .regis-login {
        top: 10.25em;
        box-shadow: 0 2px 3px gray;
    }

    .clicked {
        transform: translateY(0);
        opacity: 1;
    }

}


/* Logout Button */
#drop-logout {
    font-size: 18px;
}

.logout-button a{
    text-decoration: none;
    color: black;
}

.logout-button {
    display: none;
    border: 1px solid gray;
    border-radius: 5px;
    position: absolute;
    right: 1.5rem;
    top: 3.5rem;
    padding: 15px;
    width: 150px;
    background-color: white;
    font-size: 17px;
}


@media screen and (max-width: 600px) {
    .logout-button {
        left: 1rem;
        top: 13.5rem;
    }
}
